body {
    background: url('../images/safelock.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
#content {
    background-color: rgba(255, 217, 0, 0.4);
    font-family: Arial, Helvetica, sans-serif;
}
#title {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(255, 217, 0, 0.4);

}
#password{
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}
#characters{
    font-weight: bold;
}